.form-box {
    width: 250px;
    background: rgba(196, 196, 196, 0.7);
    margin: 200px auto 0 auto;
    padding: 30px 30px 10px 30px;
    border-radius: 20px;
}

.title {
    display: none;
}

.username-field, .password-field, .confirm-field , .special-key-field{
    display: block;
    margin: 10px auto;
    padding: 10px;
    border-radius: 15px;
    border-color: #c4c4c4;
    width: 200px;
    background: rgba(196, 196, 196, 1);
    color: white;
}

.username-field::placeholder, .password-field::placeholder, .confirm-field::placeholder, .special-key-field::placeholder{
    color: white;
}

.button {
    display: block;
    padding: 10px 25px;
    margin: 20px auto;
    background-color: #575957;
    border-radius: 10px;
    color: white;
}

@media(max-width: 700px) {
    .title {
        color: white;
        display: block;
        margin: 17vh auto 30px auto;
        text-align: center;
        font-weight: lighter;
        font-size: 45px;
        font-family: 'IM Fell English', serif;
    }

    .username-field, .password-field, .confirm-field , .special-key-field {
        background: rgba(196, 196, 196, 1);
        border-radius: 5px;
        width: 50vw;
    }

    .form-box {
        margin: 0 auto;
        width: 70vw;
        background: rgba(245, 245, 245, 1);
    }

    .button {
        border-radius: 5px;
        padding: 10px 35px;
    }
}