body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.flash-message {
  background-color: #E93838;
  width: 100%;
  padding: 20px;
  color: white;
  border-radius: 7px;
  -webkit-box-shadow: 0 4px 25px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 25px 6px rgba(0, 0, 0, 0.1);
}


.btn-close-flash {
  /*position: relative;*/
  left: 200px;
  top: 20px;
  cursor: pointer;
}