<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhatsDown</title>
    <link href="https://fonts.googleapis.com/css?family=Habibi|IM+Fell+English&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/base.css') }}">
    <link rel="shortcut icon" href="{{ url_for('.static', filename='img/whatsdown-icon.ico') }}">
    {% block styles %}

    {% endblock %}
</head>
<body>


    {% include 'includes/_navbar.html' %}
    {% include 'includes/_hamburger.html' %}

    {% block content %}

    {% endblock %}

    <script src="{{ url_for('.static', filename='js/flask_msg_controller.js') }}"></script>
</body>
</html>