{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/dashboard.css') }}">
{% endblock %}

{% block content %}

    <div class="container">
        <h1 class="greeting">Welcome {{ session['username'] }}, we wish you a pleasant day!</h1>

        <h2 class="edit-title">Here you can edit data of your company:</h2>

        <div class="form-box">
            <form class="form-edit" method="POST" action="{{ url_for('dashboard') }}">
                    {{ edit_user_details.csrf_token }}
                    {{ edit_user_details.name.label(class='label') }} {{ edit_user_details.name(value=current_user.name, class='field') }}
                    {{ edit_user_details.voivodeship.label(class='label') }} {{ edit_user_details.voivodeship(value=current_user.voivodeship, class='field') }}
                    {{ edit_user_details.county.label(class='label') }} {{ edit_user_details.county(value=current_user.county, class='field') }}
                    {{ edit_user_details.locality.label(class='label') }} {{ edit_user_details.locality(value=current_user.locality, class='field') }}
                    {{ edit_user_details.phone.label(class='label') }} {{ edit_user_details.phone(value=current_user.phone, class='field') }}
                    {{ edit_user_details.price.label(class='label') }} {{ edit_user_details.price(value=current_user.price, class='field') }}
                <button type="submit" class="button">Edit</button>
            </form>
        </div>
    </div>
{% endblock %}