{% extends 'base.html'  %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/home.css') }}">
{% endblock %}

{% block content %}

    <div class="container">

    <h1 class="title">WhatsDown</h1>

    <form method="GET" class="search-form" name="search" action="search">
       {{ form.phrase(class='phrase') }}
       {{ form.category(class='category')}}
        <button class="search-button" type="submit">Search</button>
    </form>

    </div>
{% endblock %}