{% block styles %}
{#    <link rel="stylesheet" href="{{ url_for('.static', filename='css/starter-template.css') }}">#}
{% endblock %}

{% block content %}

    {#    TODO: Move all styles to css file. HTML inline styles are antipattern #}
    <table style="width:100%">

        <tr>
            {% for column_name in column_names %}
                <th>{{ column_name }}</th>
            {% endfor %}
        </tr>
        {% for record in query_records %}
            <tr>
                {% for column_name in column_names %}
                    <td>{{ record[column_name] }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>


    <form method="GET" name="filter" action={{ url_for('filter', resource=resource)}}>
        <div class="form-group">
            {{ form.text.label }}{{ form.text }}
        </div>

        <button class="btn" type="submit">Filter</button>
    </form>

{% endblock %}