{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    Demo App
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/starter-template.css') }}">
{% endblock %}

{% block content %}
    {% include 'includes/_guest_navbar.html' %}

    <table style="width:100%">

        <tr>
            {% for column_name in column_names %}
                <th>{{ column_name }}</th>
            {% endfor %}
        </tr>
        {% for record in query_records %}
            <tr>
                {% for column_name in column_names %}
                    <td>{{ record[column_name] }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>


    <form method="GET" name="filter" action={{ url_for('filter', resource=resource)}}>
        <div class="form-group">
            {{ wtf.form_field(form.text) }}
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Filter</button>
    </form>

{% endblock %}