{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/signup-admin.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
{% endblock %}

{% block content %}
    <h1 class="title">WhatsDown</h1>
    <div class="container">

        {% for mess in get_flashed_messages() %}
            <div class="flash-message" role="alert">
                {{ mess }}
                <span class="fas fa-times btn-close-modal btn-close-flash"></span>
            </div>
        {% endfor %}

        <div class="form-box">
            <form class="form-signin" method="POST" action="/signup-admin">
                {{ form.hidden_tag() }}
                {{ form.username(class='username-field') }}
                {{ form.password(class='password-field') }}
                {{ form.confirm(class='confirm-field') }}
                {{ form.special_key(class='special-key-field') }}
                <button class="button" type="submit">Sign Up</button>
            </form>
        </div>
    </div> <!-- /container -->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
{% endblock %}