{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
{% endblock %}

{% block content %}

    <div class="container">

        {% for mess in get_flashed_messages() %}
            <div class="flash-message" role="alert">
                {{ mess }}
                <span class="fas fa-times btn-close-modal btn-close-flash"></span>
            </div>
        {% endfor %}


        <form class="form-signin" method="POST" action="/signup-user">
            <h2 class="form-signin-heading">Sign Up</h2>
            {{ form.hidden_tag() }}
            {{ form.username.label }}{{ form.username }}
            {{ form.password.label }}{{ form.password }}
            {{ form.confirm.label }}{{ form.confirm }}
            {{ form.name.label }}{{ form.name }}
            {{ form.voivodeship.label }}{{ form.voivodeship }}
            {{ form.county.label }}{{ form.county }}
            {{ form.locality.label }}{{ form.locality }}
            {{ form.phone.label }}{{ form.phone }}
            {{ form.price.label }}{{ form.price }}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
        </form>

    </div> <!-- /container -->

    <script src="../static/js/flask_msg_controller.js"></script>
{% endblock %}