<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Statystyki</title>
</head>
<body>
<h1>Statystyki WhatsDown</h1>
<h2>Najdroższy kapłan: {{ most_exclusive_priest }} - {{ most_exclusive_priest.price }}PLN</h2>
<h2>Średni koszt zakładu pogrzebowego: {{ avg_fun_house_price }}PLN</h2>
<h2>Ilość pochowanych w WhatsDown: {{ buried_number }}</h2>
<h2>Najpopularniejsza marka odzieży: {{ most_popular_outfit_brand[0] }} ({{ most_popular_outfit_brand[1] }} sztuki)</h2>

</body>
</html>