{% include 'includes/_user_dashboard_header.html' %}
<link rel="stylesheet" href="../static/css/modal.css">


<div class="modal-container">
    <div class="modal" id="modal-edit">
        <span class="fas fa-times btn-close-modal btn-close-edit">x</span>
        <h3>Edycja rekordu</h3>
        <form class="form-edit" method="POST" action="{{ url_for('user_funerals') }}">
            <p>ID:</p><input class="input-edit-id" name="id-edit" type="text">
            <p>Nazwa:</p><input required class="input-edit-name" maxlength="10" type="text" name="name-edit">
            <p>Wartość:</p><input required class="input-edit-value" maxlength="10" step="0.01" name="value-edit"
                                  type="number">
            <p>Data:</p><input required class="input-edit-date" type="date" name="date-edit">
            <button type="submit" class="btn btn-add btn-modal-item btn-edit-item">Edytuj</button>
        </form>
    </div>

    <div class="modal" id="modal-delete">
        <span class="fas fa-times btn-close-modal btn-close-delete">x</span>
        <h3>Usuwanie rekordu</h3>
        <form method="POST" action="{{ url_for('user_funerals') }}">
            {{ delete_record_form.csrf_token }}
            {{ delete_record_form.id.label }} {{ delete_record_form.id(class_="input-delete-id") }}
            <button type="submit" class="btn btn-add btn-modal-item btn-delete-item">Usuń</button>
        </form>
    </div>
</div>


<h2>Dodaj pogrzeb</h2>
<form action="{{ url_for('user_funerals') }}" method="POST">
    {{ funeral_form.hidden_tag() }}
    {{ funeral_form.date.label }}{{ funeral_form.date }}
    {{ funeral_form.total_price.label }}{{ funeral_form.total_price }}
    {{ funeral_form.buried.label }}{{ funeral_form.buried }}
    {{ funeral_form.funeral_home.label }}{{ funeral_form.funeral_home }}
    {{ funeral_form.priest_temple.label }}{{ funeral_form.priest_temple }}
    <button type="submit" class="btn">Dodaj</button>
</form>

<div id="funerals-table">
    <h2>Pogrzeby</h2>
    <table>
        <tr>
            {% for columnn in funeral_header %}
                <th>{{ columnn }}</th>
            {% endfor %}
        </tr>
        {% for fun in funerals %}
            <tr id="item-{{ fun.id }}">
                <td><img class="btn btn-remove" src="../static/img/icon-remove.svg" alt="Remove"></td>
                <td>{{ fun.id }}</td>
                <td>{{ fun.date }}</td>
                <td>{{ fun.total_price }}</td>
                <td>
                    {% for bur in fun.buried %}
                        {{ bur.first_name }} {{ bur.last_name }}
                    {% endfor %}
                </td>
                <td>{{ fun.funeral_home.name }}</td>
                <td><img class="btn btn-edit" src="../static/img/icon-edit.svg" alt="Edit"></td>
            </tr>
        {% endfor %}
    </table>
</div>

<script src="../static/js/user_funerals.js"></script>