<nav class="guest-navbar">
        <div class="navbar-logo">
            <a href="{{ url_for('home_page') }}">WhatsDown</a>
        </div>
        <div class="navbar-list">
            <ul>
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('signup_user') }}">Sign Up</a></li>
                <li><a href="{{ url_for('statistics') }}">Statistics</a></li>
                {% if 'user' in session %}
                    <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                {% endif %}
                {% if 'admin' in session %}
                    <li><a href="/admin">Admin</a></li>
                {% endif %}
            </ul>
        </div>
</nav>